body {
  background-image: url(https://images.unsplash.com/photo-1571056578894-51e67d466d44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80);
  background-size: cover;
}

.wrapper {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  border: solid 2px rgb(255, 196, 0);
  padding: 20px;
  background-color: rgba(10, 46, 10, 0.363);
  border-radius: 5px;
}

.num,
.opr {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

#jednako {
  width: 110px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(184, 135, 11);
}

#rezultat {
  width: 270px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  color: cadetblue;
  border: 1px dotted green;
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 5px;
}
